<html>
	<% include head %>
	<div class="container" >

		<div class="row">

			<!-- center the card in the middle. when there are other cards the offset on md & lg will be 2 cards per row. On sm & xs one card will be fit per row --> 
			<div class="col-md-3"></div> 


			<div class="col-md-6">

				<!-- the well gives the card a border-->
				<div class="well" style="background-color:#ffffff">
					<!-- The table class adds nice spacing and the other classes add additional style -->
					<table class="table table-condensed" >
						<thead>
							<tr>
								<td colspan="4">	
									<h2 >Your Stocks</h2>
								</td>


							</tr>
						</thead>
						<tbody>
							<% for (let i = 0; i < stock.length; ++i) { %>
								<tr>
									<td colspan = "4" class="text-left"> 
										<p style="font-size:24px"> <%= stock[i].symbol %>  </p>
									</td>
									<td class="text-right"> 
										<% let currentprice = stock[i].close; %>
										<% currentprice = (currentprice/1.0).toFixed(2);  %>
										<p> <%= currentprice %> </p>
										<% let diff  = stock[i].open - stock[i].close; %>
										<% let percent = ((diff)/stock[i].open)*100; %>
										<% diff  = diff.toFixed(2); %>
										<% percent = percent.toFixed(2); %>
										<% if ( diff < 0 ) { %>
											<p style ="color:red">
												<%= diff %> (<%= percent %>%)

												<i class="fa fa-arrow-down" aria-hidden="true" style="color:#ff0000"></i>
											</p>
										<% } %>
										<% if ( diff > 0 ) { %>
											<p style ="color:green">
												<%= diff %> (<%= percent %>%)

												<i class="fa fa-arrow-up" aria-hidden="true" style="color:#00ff00"></i>
											</p>
										<% } %>
									</td>
								</tr>
							<% } %>
							<tr>
								<td colspan ="5"></td>
							</tr>
						</tbody>
					</table>
					<% let before = (stock[0].updated)/1000; %>
					<% let curr = (new Date().getTime())/1000; %>
					<% console.log(before); %>
					<% console.log(curr); %>

					<% let updated  = Math.round((curr - before)/60); %>

					<p class="text-right"> Stock updated <%= updated %> mins ago  </p>
				</div>
			</div>
			<div class="col-md-3"></div> 
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</html>

